/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
/*.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px *
    position:absolute;             /* position in the center of the screen *
    left:50%;
    top:50%;
    height:50px;                   /* text area height *
    width:225px;                   /* text area width *
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) *
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height *
                                   /* offset horizontal: half of text area width *
}*/

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*.app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height *
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height *
                                      /* offset horizontal: half of image width and text area width *
    }*/
}

/*h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}*/

.wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../img/bg-top.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.foreground {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../img/bg-bottom.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left bottom;
	z-index: 100;
}
.sprite {
	position: absolute;
	bottom: 36%;
	left: 10%;
	display: inline-block;
	z-index: 150;
	width: 90px;
	
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.sprite img {
	max-width: 100%;
}
#stage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
}

.floating {
	/*-webkit-animation: float 1s infinite;
	-moz-animation: float 1s infinite;
	-o-animation: float 1s infinite;
	animation: float 1s infinite;*/
	-webkit-animation-name: float;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0.5s;
	-moz-animation-name: float;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: normal;
	-moz-animation-timing-function: ease-out;
	-moz-animation-fill-mode: forwards;
	-moz-animation-delay: 0.5s;
	-o-animation-name: float;
	-o-animation-duration: 1.5s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: normal;
	-o-animation-timing-function: ease-out;
	-o-animation-fill-mode: forwards;
	-o-animation-delay: 0.5s;
	animation-name: float;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
@-webkit-keyframes float {
	0%    { padding-bottom: 0px; }
	50%   { padding-bottom: 5px; }
	100%  { padding-bottom: 0px; }
}
@-moz-keyframes float {
	0%    { padding-bottom: 0px; }
	50%   { padding-bottom: 5px; }
	100%  { padding-bottom: 0px; }
}
@-o-keyframes float {
	0%    { padding-bottom: 0px; }
	50%   { padding-bottom: 5px; }
	100%  { padding-bottom: 0px; }
}
@keyframes float {
	0%    { padding-bottom: 0px; }
	50%   { padding-bottom: 5px; }
	100%  { padding-bottom: 0px; }
}

